.btn_primary {
    background-color: #a51c31;
    color: #fff;
    padding: 1em 3em;    
}

.btn_edit, .btn_delete {
    padding: 10px;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid #d3d3d3;
}

.btn_edit {
    background-color: #fff;
}

.btn_delete {
    background-color: #ff0000;    
}